{% set books = __SELF__.books %}
{% set category = __SELF__.category %}

{% if category.breadcrumb is not null %}
    {% partial "@breadcrumb" path = category.breadcrumb prefix = category.prefix %}
{% endif %}

<div class="row mb-4">
    <div class="col-6">
	<form action="{{ ''|page }}" method="GET">
	    <label for="search">Search</label>
	    <input type="text" name="search" class="form-control" value="">
	</form>
    </div>
    <div class="col-2 mt-4">
	<form action="{{ ''|page }}" method="POST">
	    <button type="submit" class="btn btn-success mt-2">Clear</button>
	</form>
    </div>
</div>

<div id="books">
    {% partial '@books' %}
</div>

<div id="pagination">
    {% partial '@pagination' %}
</div>

{% if showCategories is not null and categories.count %}
    <h5>Sub categories</h5>
    <ul class="category-list">
	{% partial '@categories' %}
    </ul>
{% endif %}
