<ul class="book-list">
    {% for book in books %}
        <li>
            <h3><a href="{{ book.url }}">{{ book.title }}</a></h3>
            <p class="info">
	        Posted
                {% if book.categories.count %} in {% endif %}
                {% for category in book.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                on {{ book.created_at|date('M d, Y') }}
            </p>

            <p class="excerpt">{{ book.summary|raw }}</p>
        </li>
    {% else %}
        <li class="no-data">{{ __SELF__.noBooksMessage }}</li>
    {% endfor %}
</ul>
